<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGCZuWLHs8Rb81qnBj6qh1viCvdXPwWHw</string>
	<key>GCM_SENDER_ID</key>
	<string>144961024769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealideas.app</string>
	<key>PROJECT_ID</key>
	<string>meal-idea-esof</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-idea-esof.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144961024769:ios:0f1c4e93ba4fdfbc3ae100</string>
</dict>
</plist>